<div class="uk-container-expand">

    <nav class="uk-navbar uk-light" style="background: rgb(15,122,229); background: linear-gradient(90deg, rgba(15,122,229,1) 0%, rgba(105,167,230,1) 100%);">


        <div class="uk-navbar-left uk-margin-left">

            <ul class="uk-navbar-nav">

                <li><a class="uk-link-text" href="#"><span uk-icon="icon: user" class="uk-margin-small-right"></span> {{name}}</a></li>

            </ul>

        </div>

        <div class="uk-navbar-right uk-margin-right">

            <ul class="uk-navbar-nav">

                <li><a class="uk-link-text" href="{{ url_for('Logout') }}"><span uk-icon="icon: sign-out" class="uk-margin-small-right"></span> Sair</a></li>

            </ul>

        </div>
    </nav>

</div>