{% extends 'base/base.html' %}

<!-- Titulo -->
{% block title %} Chamado {% endblock %}

<!-- Conteudo -->

{% block content %}

<!-- Macro -->
{% from "macro/renderfields.html" import ipt_common, ipt_chk, ipt_textarea, ipt_select %}

<div class="uk-container uk-container-large">

    <div class="uk-text-right">
        <a class="uk-button uk-button-default uk-margin-top" href="{{url_for('Tickets')}}">Voltar</a>
    </div>


    <form action="{{url_for('TicketClient', ticket=form.id.data)}}" enctype="multipart/form-data" method="POST" novalidate>
        {{form.csrf_token}} {% if form.id.data %} {{form.id}}{{form.license}}{{form.client_id}} {% endif %}

        <div><span class="uk-text-secondary uk-text-uppercase uk-text-bold uk-margin-bottom">Ticket {{number}}</span></div>

        <div uk-grid class="uk-grid-match">
            <div class="uk-width-1-2">
                <div class="uk-card uk-card-default uk-card-body uk-margin-top uk-margin-large-bottom">


                    <ul uk-tab class="uk-margin-remove-top">
                        <li>
                            <a href="#">
                                <span>Chamado</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Serviços</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Solução</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Anexos</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="uk-switcher uk-margin">

                        <li uk-grid>

                            <div class="uk-width-1-2">
                                {{ipt_common(form.contact_name)}}
                            </div>

                            <div class="uk-width-1-2">
                                {{ipt_select(form.status)}}
                            </div>

                            <div class="uk-width-1-1">
                                {{ipt_common(form.summary)}}
                            </div>

                            <div class="uk-width-1-1">
                                {{ipt_textarea(form.problem, 5)}}
                            </div>

                        </li>

                        <li>
                            <div class="uk-width-1-1">
                                <label class="uk-form-label">Serviços</label>
                                <select class="uk-select" id="services_select">
                                    <option value="">Selecione um serviço</option>
                                    {% for service in services %}
                                        <option value="{{service.id}}" 
                                        data-price="R$ {{ '%.2f'|format(service.price) | replace('.',',') }}"
                                        data-value="{{ service.price }}"
                                        class="{{ 'uk-hidden' if service.id in listserv }}"
                                        >{{service.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="uk-width-1-1 uk-margin-small-top">
                                <ul class="uk-list" id="services">
                                    {% for service in form.services %}
                                    <li uk-grid>
                                        <input id="services-{{service.data.id}}" name="services-{{service.data.id}}" type="hidden" value="{{service.data.id}}">
                                        <label class="uk-width-expand" uk-leader>{{service.data.name}}</label>
                                        <label>R$ {{ '%.2f'|format(service.data.price) | replace('.',',') }} <span uk-icon="icon: trash" class="removeservice uk-margin-small-left" style="cursor:pointer" data-id="{{service.data.id}}"></span></label>
                                    </li> {% endfor %}
                                </ul>
                            </div>

                            <div class="uk-width-1-1">
                                <div class="uk-grid-small" uk-grid>
                                    <div class="uk-width-expand" uk-leader>Total</div>
                                    <div id="total_value" data-price="{{totalprice}}">R$ {{ '%.2f'|format(totalprice) | replace('.',',') }}</div>
                                </div>
                            </div>

                        </li>


                        <li uk-grid>

                            <div class="uk-width-1-1">
                                {{ipt_common(form.responsable_tech)}}
                            </div>

                            <div class="uk-width-1-1">
                                {{ipt_textarea(form.resolution, 5)}}
                            </div>

                        </li>

                        <li>
                            <div class="uk-width-1-1">
                                <label class="uk-form-label">Anexos</label>

                                <div uk-grid>
                                    <div class="uk-width-expand">
                                        <input class="uk-input uk-form-width-medium uk-width-1-1 upload_text" type="text" readonly placeholder="Anexos" disabled>
                                    </div>
                                    <div class="uk-width-auto">
                                        <div uk-form-custom>
                                            <input type="file" multiple name="ticket_files">
                                            <button class="uk-button uk-button-default upload_button" type="button" tabindex="-1">
                                            <span uk-icon="icon: cloud-upload"></span></button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="uk-width-1-1 uk-margin-remove-top">
                                {% for file in files %} <a class="uk-label" style="color:white" href='/download-ticket-file/{{file.id}}'> {{file.name}}</a> {%endfor%}
                            </div>

                        </li>

                    </ul>


                </div>
            </div>

            <div class="uk-width-1-2">
                <div class="uk-card uk-card-default uk-card-body uk-margin-top uk-margin-large-bottom">

                    <div>

                        <dl class="uk-description-list uk-description-list-divider">

                            {% for comment in comments %}

                            <dt>
                                <div class="uk-flex uk-flex-between">
                                    <div>{{comment.user.name}}</div>
                                    <div>{{comment.date.strftime("%d/%m/%Y, %H:%M:%S")}}</div>
                                </div>
                            </dt>
                            <dd>
                                {% if comment.comment %} {{comment.comment}} {% endif %}

                                <div class="uk-width-1-1 uk-margin-remove-top">
                                    {% for file in comment.files %} <a class="uk-label" style="color:white" href='/download-comment-file/{{file.id}}'> {{file.name}}</a> {%endfor%}
                                </div>
                            </dd>

                            {% endfor %}

                        </dl>

                    </div>

                    <div class="uk-width-1-1">
                        {{ipt_textarea(form.comment, 3)}}
                    </div>

                    <div class="uk-width-1-1">
                        <label class="uk-form-label">Anexos</label>

                        <div uk-grid>
                            <div class="uk-width-expand">
                                <input class="uk-input uk-form-width-medium uk-width-1-1 upload_text2" type="text" readonly placeholder="Anexos" disabled>
                            </div>
                            <div class="uk-width-auto">
                                <div uk-form-custom>
                                    <input type="file" multiple name="commentfile">
                                    <button class="uk-button uk-button-default upload_button2" type="button" tabindex="-1">
                                    <span uk-icon="icon: cloud-upload"></span></button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="uk-margin-top uk-width-1-1">
                        <button type="submit" class="uk-button uk-button-primary">Salvar</button>
                    </div>


                </div>
            </div>

    </form>

    </div>
</div>


<script>
    $("#services_select").change(function() {
        let html = "";
        let service_id = $(this).find("option:selected").val()
        let service_name = $(this).find("option:selected").html()
        let service_price = $(this).find("option:selected").attr('data-price')
        let service_value = $(this).find("option:selected").attr('data-value')

        let list_services = $("#services li").length

        let value = $("#total_value").attr("data-price")
        value = parseFloat(value) + parseFloat(service_value)
        $("#total_value").attr("data-price", value)
        $("#total_value").html("R$ " + value.toFixed(2).replace('.', ','))

        html += '<li uk-grid><input id="services-' + list_services + '" name="services-' + list_services + '" type="hidden" value="' + service_id + '">'
        html += '<label class="uk-width-expand" uk-leader>' + service_name + '</label>'
        html += '<label>' + service_price
        html += '<span uk-icon="icon: trash" class="removeservice uk-margin-small-left" style="cursor:pointer" data-id="' + service_id + '"></span></label></li>'

        $(this).find("option:selected").addClass("uk-hidden")

        $(this).val('')

        $("#services").append(html)
    })

    $(document).delegate(".removeservice", "click", function() {
        id = $(this).attr('data-id')
        let option

        $(this).parent().parent().remove();
        $("#services_select option").each(function() {
            if ($(this).val() == id) {
                $(this).removeClass("uk-hidden")
                option = $(this)
            }
        })

        let service_value = option.attr('data-value')

        let value = $("#total_value").attr("data-price")
        value = parseFloat(value) - parseFloat(service_value)
        $("#total_value").attr("data-price", value)
        $("#total_value").html("R$ " + value.toFixed(2).replace('.', ','))

    })

    $('input').each(function(e) {
        if ($(this).attr("name") != "commentfile") {
            $(this).prop("disabled", true)
        }
    })

    $('select').each(function(e) {
        $(this).prop("disabled", true)
    })

    $('textarea').each(function(e) {
        if ($(this).attr("name") != "comment") {
            $(this).prop("disabled", true)
        }
    })


    $("input[type='file']").change(function(e) {

        var files = $(this)[0].files;
        let names = '';
        for (i = 0; i < files.length; i++) {
            names += files[i].name + '; '
        }
        $(this).parent().parent().parent().find(".upload_text").val(names)

    })
</script>

{% endblock %}