{% extends 'base/base.html' %}

<!-- Titulo -->
{% block title %} Licenças {% endblock %}

<!-- Conteudo -->

{% block content %}

<div class="uk-container">

    <div style="position:relative">
        <a class="uk-button uk-button-default uk-margin-top" id="new_license">Novo</a>
    </div>

    <div class="uk-card uk-card-default uk-card-body uk-margin-top">

        <div class="uk-inline uk-width-1-1">
            <a class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search" id="search_icon"></a>
            <input class="uk-input" type="text" id="search" value="{{ search }}" placeholder="{{ 'Pesquise uma licença por cpf, cnpj, sistema ou nome fantasia...' if search == ''}}">
        </div>

        <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
            <thead>
                <tr>
                    <th>Sistema</th>
                    <th>CNPJ/CPF</th>
                    <th>Nome Fantasia</th>
                    <th>Data de Aquisição</th>
                    <th>Revenda</th>
                </tr>
            </thead>
            <tbody>
                {% for license in licenses %}
                <tr style="cursor:pointer" onclick="window.location.href = '/license?license={{license.id}}'">
                    <td>{{ license.system.name }}</td>
                    <td>{{ license.client.cnpj if license.client.type == 1 else license.client.cpf }}</td>
                    <td>{{ license.client.bussiness_name }}</td>
                    <td>{{ license.date.strftime('%d/%m/%Y') }}</td>
                    <td>{{ license.reseller_name if license.resale }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="uk-pagination uk-flex-right uk-margin-small-top">
            {{ pagination.links }}
        </div>

    </div>
</div>


<div id="ticket_isreseller" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body uk-text-center">

            <h4>Licença adquirida por meio de revendedor? </h4>

            <a class="uk-button uk-button-primary" href="/license?reseller=1">Sim</a>
            <a class="uk-button uk-button-danger" href="/license?reseller=0">Não</a>

        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Fechar</button>
        </div>
        </form>
    </div>
</div>


<script>
    function search() {
        if ($("#search").val() == "") {
            window.location.href = "/licenses"
        } else {
            window.location.href = "/licenses?q=" + $("#search").val()
        }
    }

    $("#search").keydown(function(e) {
        var code = e.keyCode || e.which;
        if (code == 13) {
            search()
        }
    })

    $("#search_icon").click(function() {
        search()
    })

    $("#new_license").click(function() {
        UIkit.modal($('#ticket_isreseller')).show();
    })
</script>
{% endblock %}